body{
    background-color: rgb(56, 56, 56);
    color: rgb(255, 236, 223);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#usuario{
    display: flex;
    flex-direction: row;
    text-align: right;
}